* {
    user-select: none;
}
body {
    background-color: black;
    font-family: monospace;
}
h1 {
    margin: 5px;
    padding: 0;
    font-size: 300%;
    color: white;
    text-align: center;
}
table {
    width: 600px;
    max-width: 600px;
    height: 600px;
    max-height: 600px;
    margin: auto;
    padding: 0;
    background-color: white;
    border-collapse: collapse;
  }
td {
    width: 200px;
    max-width: 200px;
    height: 200px;
    max-height: 200px;
    margin: 0;
    padding: 0;
    border: 1px solid lightgray;
    text-align: center;
    font-size: 180px;
}
.text, .stats {
    margin: 3px 0;
    color: white;
    font-size: 150%;
    text-align: center;
}
.text {
    font-size: 250%;
}
.github {
    position: fixed;
    width: 90px;
    max-width: 90px;
    height: 90px;
    max-height: 90px;
}
@media only screen and (max-width: 600px) {
    table {
        width: 300px;
        max-width: 300px;
        height: 300px;
        max-height: 300px;
    }
    td {
        width: 100px;
        max-width: 100px;
        height: 100px;
        max-height: 100px;
        font-size: 65px;
    }
    .github {
        width: 50px;
        max-width: 50px;
        height: 50px;
        max-height: 50px;
    }
}
@media only screen and (min-width: 2560px) {
    body {
        font-size: 140%;
    }
    .github {
        width: 150px;
        max-width: 150px;
        height: 150px;
        max-height: 150px;
    }
    table {
        width: 1206px;
        max-width: 1206px;
        height: 1206px;
        max-height: 1206px;
    }
    td {
        width: 400px;
        max-width: 400px;
        height: 400px;
        max-height: 400px;
        font-size: 330px;
    }
}
